{% load static %}
<section class="related-news">
    <div class="anuncio">
        <img src="img/Adolescencia-2.png" alt="" height="90">
    </div>
    <h2 class="section-title">Notícias <span>Relacionadas</span></h2>
    <div class="news-grid">

        {% for post in noticias_relacionadas %}
        <a href="{% url 'detail' slug=post.slug %}" class="read-more" style="color: #41449b;">
            <article class="news-card">
                <div class="news-image">
                    <img src="{{ post.imagem.url }}" alt="{{ post.categoria.nome }}">
                    <span class="category-tag tech">{{ post.categoria.nome }}</span>
                </div>
                <div class="news-content">
                    <h3>{{ post.titulo }}</h3>
                    <p>{{ post.subtitulo }}</p>
                    <div class="news-meta">
                        <span><i class="far fa-clock"></i> {{ post.data_publicacao }}</span>
                    </div>
                </div>
            </article>
        </a>
        {% endfor %}
    </div>
</section>
