{% extends 'assistant/base.html' %}
{% load static %}
{% block title %} TV Areia Branca - Categoria {{ categoria.nome }} {% endblock %}

{% block content %}
<main class="category-page">
    <div class="container">
        <div class="category-header">
            <h1 class="category-title">{{ categoria.nome }}</h1>
            <p class="category-description">As últimas notícias sobre política nacional e internacional, eleições,
                governo e muito mais.</p>
            <div class="category-breadcrumb">
                <a href="{% url 'homepage' %}">Home</a> > <span>{{ categoria.nome }}</span>
            </div>
        </div>

        <div class="content-layout">
            <section class="category-news">
                <div class="news-list">
                    <!-- Notícias da categoria -->

                    {% for post in posts %}
                    <article class="news-item">
                        <div class="news-image">
                            <img src="{{ post.imagem.url }}" alt="{{ post.titulo }}">
                            <!-- <span class="category-tag politics">{{ post.categoria.nome }}</span> -->
                        </div>
                        <div class="news-details">
                            <h3><a href="{% url 'detail' post_id=post.id %}" style="color: #41449b;">{{ post.titulo }}</a></h3>
                            <p>{{ post.subtitulo }}</p>
                            <div class="news-meta">
                                <span><i class="far fa-clock"></i>{{ post.data_publicacao }}</span>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                </div>

                {% include 'assistant/pagination.html' %}
            </section>

            <aside class="sidebar">
                <div class="sidebar-widget">
                    <h3>Subcategorias</h3>
                    <ul class="subcategories">
                        {% if subcategorias|length == 0 %}
                        <li><a href="#">Nenhuma subcategoria disponível</a></li>
                        {% else %}
                            {% for sub in subcategorias %}
                            <li><a href="#">{{ sub.nome }} <span>{{ sub.count}}</span></a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>

                {% include 'youtube/youtube.html' %}
            </aside>
            <div class="anuncio" style="width: 100%;">
                <img src="{% static 'img/Adolescencia-2.png' %}" alt="" height="90">
            </div>
        </div>
    </div>
</main>
{% endblock content %}
