{% extends 'assistant/base.html' %}
{% load static %}
{% block title %} TV Areia Branca - Detalhes {% endblock %}

{% block content %}
<main class="article-detail">
    <div class="container">
        <div class="article-header">
            <h1>{{ post.titulo }}</h1>
            <div class="article-meta">
                <span class="author">Por <strong>{{ post.autor.nome}}</strong></span>
                <span class="date"><i class="far fa-clock"></i> {{ post.data_publicacao }}</span>
                <!-- <span class="views"><i class="far fa-eye"></i> {{ post.visualizacoes }} visualizações</span> -->
            </div>
            <div class="social-share">
                <span>Compartilhar:</span>
                <a href="#" class="facebook" title="Compartilhar no Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="twitter" title="Compartilhar no Twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="whatsapp" title="Compartilhar no WhatsApp"><i class="fab fa-whatsapp"></i></a>
                <a href="#" class="linkedin" title="Compartilhar no LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="telegram" title="Compartilhar no Telegram"><i class="fab fa-telegram-plane"></i></a>
            </div>
            <br><br>
            <img src="{% static 'img/banner-anuncio.gif' %}" alt="" style="margin-bottom: 30px;">
        </div>

        <div class="article-content">
            <div class="featured-image">
                <img src="{{ post.imagem.url }}" alt="{{ post.titulo }}">
            </div>

            <div class="article-body">
                <p class="lead">{{ post.descricao | safe }}</p>
            </div>

            <div class="article-footer">
                <div class="author-box">
                    <div class="author-image">
                        {% if post.autor.imagem %}
                        <img src="{{ post.autor.imagem.url }}" alt="{{post.autor.nome}}">
                        {% endif %}
                    </div>
                    <div class="author-info">
                        <h3>{{post.autor.nome}}</h3>
                        <p>{{post.autor.descricao | safe }}.</p>
                    </div>
                </div>

                <div class="social-share bottom">
                    <span>Compartilhe esta matéria:</span>
                    <a href="#" class="facebook" title="Compartilhar no Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="twitter" title="Compartilhar no Twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="whatsapp" title="Compartilhar no WhatsApp"><i class="fab fa-whatsapp"></i></a>
                    <a href="#" class="linkedin" title="Compartilhar no LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="telegram" title="Compartilhar no Telegram"><i
                            class="fab fa-telegram-plane"></i></a>
                </div>
            </div>
        </div>
        <br><br>
        <div class="anuncio" style="width: 100%;">
            <img src="{% static 'img/banner-areia-branca.gif' %}" alt=""
                style="width: 100%; margin: 0 auto 30px auto; display: block;">
        </div>
        {% include 'related_news/related_news.html' %}
    </div>
</main>
{% endblock content %}
