{% load static %}
<section class="latest-news">
    <img src="img/lista-de-transmissão_2.gif" alt="">
    <h2 class="section-title">Últimas <span>Notícias</span></h2>
    <div class="news-list">

        {% for post in ultimas_noticias %}
        <a href="{% url 'detail' post_id=post.id %}" class="read-more" style="color: #41449b;">
            <article class="news-item">
                <div class="news-image">
                    <img src="{{ post.imagem.url }}" alt="{{ post.categoria.nome }}">
                    <span class="category-tag sports">{{ post.categoria.nome }}</span>
                </div>
                <div class="news-details">
                    <h3>{{ post.titulo }}</h3>
                    <p>{{ post.subtitulo }}</p>
                    <div class="news-meta">
                        <span><i class="far fa-clock"></i>{{ post.data_publicacao }}</span>
                    </div>
                </div>
            </article>
        </a>
        {% endfor %}
    </div>
    <button class="load-more">Carregar Mais Notícias</button>
</section>
