{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'img/logo.png' %}" rel="icon" />

    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/materia.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile-menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/instagram.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    {% include 'assistant/header.html' %}
    {% block content %} {% endblock %}
    {%include 'assistant/footer.html' %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/mobile-menu.js' %}"></script>
    <script src="{% static 'js/detalhe.js' %}"></script>
    <script src="{% static 'js/categoria.js' %}"></script>
    <!-- <script src="{% static 'js/instagram.js' %}"></script> -->
</body>

</html>
