{% load static %}
<div class="sidebar-widget yt-live-widget">
    <h3 class="yt-live-title">Youtube</h3>
    <div class="yt-live-container">
        <div class="yt-video-wrapper">
            <iframe class="yt-live-embed" src="https://www.youtube.com/embed/Su1MK12YSiw?autoplay=0&mute=0&controls=1"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>

        <div class="yt-live-info">
            <h4 class="yt-live-headline">Tv Areia Branca</h4>
            <p class="yt-live-description">Acompanhe nosso canal no YouTube para mais
                conteúdos exclusivos, entrevistas e transmissões ao vivo. Inscreva-se e ative as
                notificações para não perder nenhuma novidade!</p>
            </p>
            <div class="yt-live-actions">
                <a href="https://www.youtube.com/watch?v=Su1MK12YSiw" target="_blank" class="yt-watch-button">
                    Assistir no YouTube <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>
