{% load static %}
<div class="sidebar-widget">
    <h3>Mais Lidas</h3>
    <div class="popular-news">
        {% for post in mais_lidas %}
        <a href="{% url 'detail' post_id=post.id %}" class="read-more" style="color: #41449b;">
            <article>
                <span class="count">{{ forloop.counter }}</span>
                <div class="content">
                    <h4>{{ post.titulo }}</h4>
                    <span>{{ post.visualizacoes }} visualizações</span>
                </div>
            </article>
        </a>
        <hr>
        {% endfor %}
    </div>
</div>
