{% extends 'assistant/base.html' %}
{% load static %}
{% block title %} TV Areia Branca {% endblock %}

{% block content %}
<div class="mobile-menu-overlay"></div>

<div class="hero" class="hero" style="background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
            url('{{ banner.imagem.url }}') no-repeat center top / cover;">
    <div class="container">
        <div class="hero-content">
            <span class="category-tag world">{{ banner.categoria.nome }}</span>
            <h2>{{ banner.titulo }}</h2>
            <p>{{ banner.subtitulo }}</p>
            <a href="{% url 'detail' slug=banner.slug %}" class="read-more">Ler Matéria Completa <i
                    class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<main class="main-content">
    <div class="container">
        {% include 'sponsors/sponsors.html' %}
        {% include 'posts/highlight/highlight_day.html' %}
        <img src="{% static 'img/anuncio3.gif' %}" alt="" style="margin-bottom: 30px;">
        <div class="content-layout">
            {% include 'posts/latest_news/latest_news_post.html' %}
            <aside class="sidebar">
                {% include 'posts/aside/most_read.html' %}
                {% include 'youtube/youtube.html' %}

            </aside>
        </div>
        {% include 'instagram/instagram.html' %}
        <div class="anuncio" style="width: 100%;">
            <img src="{% static 'img/anuncio1.gif' %}" alt=""
                style="width: 100%; margin: 0 auto 30px auto; display: block;">
        </div>
    </div>
</main>
{% endblock content %}
