{% extends 'assistant/base.html' %}
{% load static %}
{% block title %} TV Areia Branca {% endblock %}

{% block content %}
<div class="mobile-menu-overlay"></div>

<div class="hero" class="hero"
     style="background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
            url('{{ banner.imagem.url }}') no-repeat center top / cover;">
    <div class="container">
        <div class="hero-content">
            <span class="category-tag world">{{ banner.categoria.nome }}</span>
            <h2>{{ banner.titulo }}</h2>
            <p>{{ banner.subtitulo }}</p>
            <a href="{% url 'detail' post_id=banner.id %}" class="read-more">Ler Matéria Completa <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>

<main class="main-content">
    <div class="container">
        <div class="anuncio">
            <img src="img/Adolescencia-2.png" alt="" height="90">
        </div>
        {% include 'posts/highlight/highlight_day.html' %}
        <div class="content-layout">
            {% include 'posts/latest_news/latest_news_post.html' %}
            <aside class="sidebar">
                {% include 'posts/aside/most_read.html' %}
                {% include 'youtube/youtube.html' %}
            </aside>
        </div>
    </div>
    {% include 'sponsors/sponsors.html' %}
</main>
{% endblock content %}
