{% load static %}

<section class="featured-news">
    <h2 class="section-title">Destaques <span>do Dia</span></h2>
    <div class="news-grid">

        {% for post in destaque_dia %}
        <a href="{% url 'detail' post_id=post.id %}" class="read-more" style="color: #41449b;">
            <article class="news-card">
                <div class="news-image">
                    <img src="{{ post.imagem.url }}" alt="{{ post.categoria.nome }}">
                    <span class="category-tag tech">{{ post.categoria.nome }}</span>
                </div>
                <div class="news-content">
                    <h3>{{ post.titulo }}</h3>
                    <p>{{ post.subtitulo }}</p>
                    <div class="news-meta">
                        <span><i class="far fa-clock"></i> {{ post.data_publicacao }}</span>
                    </div>
                </div>
            </article>
        </a>
        {% endfor %}
    </div>
</section>
